<%- include("partials/header"); -%>                   
<h1> COMPOSE</h1>
<form action="/compose" method="post">
    <input type="text" name="postTitle" placeholder="Enter your text">
    <button type="submit" name="button">Publish</button>
</form>
<%- include("partials/footer"); -%> 