<%- include("partials/header"); -%>                   
<h1> CONTACT</h1>
<p><%=contactContent %> </p>
<h3><a href="https://github.com/Anshuman2002Singh"><mark>Github</mark></a></h3>
<h3><a href="https://www.linkedin.com/in/anshuman-singh-000302243/"><mark>LinkedIn</mark></a></h3>
<h3>For any queries Email me at <mark>anshul.ansh.as@gmail.com</mark> </h3>
<hr/>

<h4>Happy Coding</h4>
<h3>Anshuman Singh</h3>
<%- include("partials/footer"); -%> 